@import '../../../helpers/css-variables.css';

.header {
	display: flex;
	justify-content: space-between;
	margin: var(--desktop-margin);
}

.header svg {
	width: 156px;
}

.header ul {
	display: flex;
	gap: 57px;
}

@media all and (max-width: 750px) {
	.header a {
		text-transform: uppercase;
	}
}
