@import '../..//helpers/css-variables.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
p,
a,
li {
	color: var(--primary-color);
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

dd {
	margin-left: 0;
}
