*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header,
.location-cards {
	text-align: center;
	margin: 40px 100px;
}

h1,
h2,
p,
a {
	color: #ff6060;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.location-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, 340px);
	justify-content: center;
	padding: 56px 50px;
	gap: 20px;
	background-color: #f6f6f6;
	border-radius: 25px;
}
