:root {
	--small-radius: 5px;
	--medium-radius: 25px;

	--primary-color: #ff6060;

	--desktop-margin: 40px 100px;
	--mobile-margin: 9px 21px;

	--fs-desktop-small: 0.875rem;
	--fs-desktop-medium: 1.125rem;
	--fs-desktop-large: 1.5rem;
	--fs-desktop-larger: 2.25rem;
	--fs-desktop-xlarge: 3rem;

	--fs-mobile-small: 0.625rem;
	--fs-mobile-medium: 0.75rem;
	--fs-mobile-large: 1.125rem;
	--fs-mobile-xlarge: 1.5rem;
}
