.location-tags {
	display: flex;
	gap: 10px;
}

.location-carousel,
.location-primary-info,
.location-primary-info {
	margin: 0 100px;
}

.location-primary-info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.location-secondary-info {
	display: flex;
	justify-content: center;
	gap: 25px;
	margin: 45px 100px;
}

.location-secondary-info > * {
	width: 50%;
}

.rating-container .rating-active path {
	fill: #ff6060;
}
