.location-carousel img {
	width: 100%;
	height: 415px;
	object-fit: cover;
	border-radius: 25px;
}

.carousel-track {
	position: relative;
}

.image-position {
	position: absolute;
	top: 0;
	left: 50%;
}
