@import '../../helpers/css-variables.css';

.location-carousel {
	position: relative;
	overflow: hidden;
	border-radius: var(--medium-radius);
}

.carousel-track {
	display: flex;
}

.carousel-item {
	flex: 1 0 100%;
}

.location-carousel img {
	width: 100%;
	height: 415px;
	object-fit: cover;
}

.image-position {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

.previous-image,
.next-image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.next-image {
	right: 23px;
}
.previous-image {
	left: 23px;
}

.previous-image svg,
.next-image svg {
	transition: 150ms ease-in-out;
}

.previous-image:hover > svg,
.next-image:hover > svg {
	transform: scale(1.2);
}

.image-position {
	text-shadow: 1px 1px 2px black;
}

@media all and (max-width: 750px) {
	.location-carousel img {
		height: 255px;
	}

	.previous-image > svg,
	.next-image > svg {
		transform: scale(0.6);
	}

	.previous-image:hover > svg,
	.next-image:hover > svg {
		transform: scale(0.8);
	}
}
