@import '../../../helpers/css-variables.css';

.main-footer {
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 66px 0 29px 0;
}

.main-footer p {
	color: white;
	margin-top: 30px;
	margin-bottom: 0;
}

.main-footer svg {
	height: 39px;
}

.main-footer path {
	fill: white;
}

@media all and (max-width: 750px) {
	.main-footer {
		margin-top: 25px;
		padding: 62px 0;
	}
	.main-footer p {
		font-size: var(--fs-mobile-medium);
	}
}
