@import '../../../helpers/css-variables.css';

.main-footer {
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 25px 0;
}

.main-footer p {
	color: white;
}

.main-footer svg {
	width: 156px;
}

.main-footer path {
	fill: white;
}

@media all and (max-width: 750px) {
	.main-footer p {
		font-size: var(--fs-mobile-medium);
	}
}
