@import './helpers/css-variables.css';

/* Todo : add fonts (self host) */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p,
a,
li {
	color: var(--primary-color);
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

dd {
	margin-left: 0;
}
