@import './helpers/css-variables.css';

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Montserrat/montserrat-v24-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat'),
		url('./fonts/Montserrat/montserrat-v24-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/Montserrat/montserrat-v24-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('./fonts/Montserrat/montserrat-v24-latin-regular.woff') format('woff'),
		/* Modern Browsers */
			url('./fonts/Montserrat/montserrat-v24-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('./fonts/Montserrat/montserrat-v24-latin-regular.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p,
a,
li {
	color: var(--primary-color);
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

dd {
	margin-left: 0;
}
